body {
  padding-top: 80px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;  /* Faz o conteúdo ocupar o espaço disponível */
}

/* -------------------------------------------------------------------- BARRA LATERAL -------------------------------------------------------------------*/

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 200vh;
  background: #333;
  color: white;
  transition: left 0.3s ease;
  padding-top: 20px;
  z-index: 1000;
  overflow: hidden;
}

.sidebar.open {
  left: 0 !important;
  width: 250px; 
  z-index: 1000;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidebar-header h2 {
  margin: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar-menu li {
  font-weight: bold;
  width: 100% !important;
  padding: 15px 10px;
  text-align: center;
  margin-top: 10px;
}

.sidebar-menu a {
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
  padding: 15px 0;
  margin-bottom: 15px;
}

.sidebar-menu a:hover {
  background: #444;
}

.menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1100;
}

.menu-button.fixed {
  position: fixed;
}

.menu-button span {
  display: flex;
  width: 30px;
  height: 4px;
  margin: 6px 0;
  background: #007BFF;
  transition: 0.3s;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que a altura mínima seja a da tela */
  padding-bottom: 40px;
  box-sizing: border-box;
}

.botao-form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  background-color: white; 
  color: black; 
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 80px; 
  text-decoration: none; 
  transition: background 0.3s ease;
  margin-bottom: 20px;
  max-width: 300px;
  min-width: 150px;
  width: auto;
}

.botao-form:hover {
  background-color: #0056b3;
}

.botao-form:hover span {
  color: white; 
}

.botao-form img {
  width: 24px;
  height: auto;
}

.botao-form span {
  margin-left: 8px;
  color: black;
}

@media (max-height: 700px) {
  .botao-form {
    position: fixed;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .icons {
    padding: 2vh;
    margin-top: 3vh;
  }

  .botao-form {
    padding: 8px 30px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .botao-form {
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 40px;
  }
}

/* -------------------------------------------------------------------- BARRA LATERAL -------------------------------------------------------------------*/

.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin-top: 50px;
  margin: auto;
  overflow: visible;
  padding: 20px 0;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  text-decoration: none;
}

.carousel-item {
  min-width: 350px;
  max-width: 350px;
  background-color: #007BFF;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; 
}

.carousel-btn.prev {
  left: -50px;
}

.carousel-btn.next {
  right: -50px;
}

.carousel-btn:hover {
  text-decoration: none !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn a {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.slide {
  min-width: 100%;
}

.linha-azul {
  width: 100%;
  height: 2px;
  background-color: #007BFF;
  margin-top: 10px;
}

/* Sobre nós  */

#sobre-nos {
  background: linear-gradient(to right, black, blue);
  color: white;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 1000px;
  transition: transform 0.3s ease-in-out;
}

#sobre-nos:hover {
  transform: scale(1.02);
}

.container {
  width: 1000px;
  max-width: 1000px;
  margin: auto;
}

.title-sobre-nos {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.subtitle-sobre-projeto {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffcc00;
}

.descricao {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

.descricao span {
  color: #ffcc00;
  font-weight: bold;
}

.descricao .destaque {
  color: #00ffcc;
  font-size: 1.3rem;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.title-sobre-nos, .subtitle-sobre-projeto {
  animation: fadeIn 1s ease-in-out;
}

/* Sobre nós  FIM */

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #cfcfcf;
  color: black;
  width: 100%;
  position: relative;
  bottom: 0;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .linha-superior {
  background-color: #222;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}
  
.dark-mode .barra-pesquisa {
  background-color: white;
  color: black;
  border: 1px solid #ffffff;
}

.dark-mode .barra-pesquisa::placeholder {
  color: black;
  opacity: 1;
}

.dark-mode .botao-CriarQuiz {
  background-color: #008cff;
}
  
.dark-mode .botao-Entrar {
  background-color: #1B1A55 !important;
}
  
.dark-mode a {
  color: #1e90ff;
}
  
.dark-mode a:hover {
  color: #ffcc00;
}

.dark-mode h2 {
  color: white;
}
  
.dark-mode footer {
  color: #ECDFCC !important;
  background-color: #222;
}

.dark-mode .sidebar-menu a {
  color: white;
}  

.dark-mode .menuButton {
  background-color: #ffffff;
}

.dark-mode .overlay {
  background: rgba(0, 0, 0, 0.5);
}

.dark-mode .menu-button span {
  background: white;
}

.dark-mode .sidebar-menu a:hover {
  color: #4B70F5;
}

.dark-mode .carousel-item{
  background-color: #f9f9f9;
}

.dark-mode .carousel-item p {
  color: #555;
}

.dark-mode #sobre-nos{
  background: linear-gradient(to right, black, #2a5298);
}