html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    transition: margin-left 0.3s ease;
}

.h1-ajustado{
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

main {
    padding: 20px;
    transition: padding 0.3s ease;
}

main.sidebar-open {
    padding-left: 270px; /* 250px da barra lateral + 20px de espaço */
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 150vh;
    background: #333;
    color: white;
    transition: left 0.3s ease;
    padding-top: 20px;
    z-index: 1000;
    overflow: hidden;
}

.sidebar.open {
    left: 0 !important;
    width: 250px; 
    z-index: 1000;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    margin-right: 10px; 
    padding: 0;
    }

.sidebar-menu li {
    padding: 10px;
    text-align: center;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.sidebar-menu a:hover {
    background: #444;
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1100;
}

.menu-button.fixed {
    position: fixed;
}

.menu-button span {
    display: flex;
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background: black;
    transition: 0.3s;
}

  /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.indice {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 0px;
    transition: margin-left 0.3s ease;
}

.indice-ajustada {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.indice ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.indice ul li {
    margin-right: 20px;
    padding: 10px 20px;
    border: 2px solid #007BFF; 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.indice ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: inline-block;
}

.indice ul li:hover {
    background-color: #ffffff; 
    color: white;
    transform: scale(1.05);
}

.Ano-escolar {
    margin-bottom: 50px;
}

.Ano-escolar:not(#quinto-ano) {
    border-top: 2px solid #007BFF;
}

.Ano-escolar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.disciplinas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.disciplinas-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
}

.disciplina-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 500;
}

.disciplina-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 600;
}

.disciplina-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.disciplina-card p {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin: 10px 0;
}

.disciplina-card a {
    text-decoration: none; 
    color: inherit; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    transition: margin-left 0.3s ease;
}

.footer-ajustado{
    margin-left: 180px;
    transition: margin-left 0.3s ease;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }

.dark-mode header {
    background-color: #222;
}

.dark-mode .sidebar-menu a {
    color: white;
}  

.dark-mode .menuButton {
    background-color: #ffffff;
}

.dark-mode .overlay {
    background: rgba(0, 0, 0, 0.5);
}

.dark-mode .menu-button span {
    background: white;
}

.dark-mode .sidebar-menu a:hover {
    color: #4B70F5;
}

.dark-mode .indice {
    background-color: #222;
    border: 1px solid #007BFF;
}

.dark-mode .disciplina-card img {
    border-bottom: 1.5px solid black;
}

.dark-mode footer {
    color: #ECDFCC !important;
    background-color: #222;
}